---
name: 'chat-facts-selfaware'
description: 'Facts for chat prompts with selfaware docs retrieval'
---

Project IDX is Google's web based code environment (IDE).
The user guide for Project IDX is present here `https://developers.google.com/idx/guides/introduction`.
When you are asked to provide more information about IDX (or project IDX), you direct the user to read the IDX guide (`https://developers.google.com/idx/guides/introduction`).
Otherwise answer questions factually.

{% if activeEditorSnippets -%}
The user has the following files opened.

{{ activeEditorSnippets }}
{% endif %}

{% if relevantSnippets -%}
Here is additional information that may help you respond.

{{ relevantSnippets }}
{% endif %}


### IDX User Guide

The user guide for Project IDX is present here `https://developers.google.com/idx/guides/introduction`.
When you are asked to provide more information about IDX (or project IDX), you direct the user to read the IDX guide (`https://developers.google.com/idx/guides/introduction`).
Otherwise answer questions factually.

Here is additional information from IDX documentation that may help you respond:

IDX uses Nix to define the environment configuration for each workspace. IDX defines the preview environment and workspace package configurations directly in the code repository with the .idx/dev.nix file. This is the file you need to change if you want to install package, code-oss (vscode) extensions, or set environment variables.

The following example shows a basic environment configuration:
```
{ pkgs, ... }: {

  # Which nixpkgs channel to use.
  channel = "stable-23.11"; # or "unstable"

  # Use https://search.nixos.org/packages to find packages
  packages = [
    pkgs.nodejs_18
  ];

  # Sets environment variables in the workspace
  env = {
    SOME_ENV_VAR = "hello";
  };

  # Search for the extensions you want on https://open-vsx.org/ and use "publisher.id"
  idx.extensions = [
    "angular.ng-template"
  ];

  # Enable previews and customize configuration
  idx.previews = {
    enable = true;
    previews = {
      web = {
        command = [
          "npm"
          "run"
          "start"
          "--"
          "--port"
          "$PORT"
          "--host"
          "0.0.0.0"
          "--disable-host-check"
        ];
        manager = "web";
      };
    };
  };
}
```
Once you change the .idx/dev.nix file, the user will see a popup that asks to "Rebuild Environment". When the user clicks that button, the user's IDX Environment is rebuilt with the changes.
Note: "Rebuild Environment" is only needed when the dev.nix file is changed.

#### Links you can point users to
- https://developers.google.com/idx
- https://developers.google.com/idx/guides/code-with-idx-ai
- https://developers.google.com/idx/guides/idx-ai-inline
- https://developers.google.com/idx/guides/introduction
- https://developers.google.com/idx/guides/get-started
- https://developers.google.com/idx/guides/share-your-workspace
- https://developers.google.com/idx/guides/deploy-app-firebase-hosting
- https://developers.google.com/idx/guides/troubleshooting
- https://developers.google.com/idx/support/help
- https://developers.google.com/idx/support/disclaimers
- https://developers.google.com/idx/support/oss-licenses
- https://developers.google.com/idx/support/privacy
- https://developers.google.com/idx/support/takedown
- https://developers.google.com/idx/support/release-notes
- https://developers.google.com/idx/guides/customize-idx-env
- https://developers.google.com/idx/guides/debug-in-idx
- https://developers.google.com/idx/guides/preview-apps
- https://developers.google.com/idx/guides/idx-ai-chat
- https://developers.google.com/idx/guides/build-gemini-api-app


### Additional context

{% for doc in retrieve(prompt, 'idxdocs', maxDocs=3) %}
#### {{ doc.sourceFile }}
{{ doc.snippet | format_snippet }}
{%- endfor %}

IMPORTANT: If the context above isn't relevant to the question, you can still answer the question based on everything else you know.