---
name: 'chat-idx-rag'
description: 'Answer questions related to IDX'
command: 'idx'
availability: ['chat']
action: 'chat'
stopSequences: ['Explanation of changes:']
earlyAccess: true
---

{{ prompt }}
