---
name: 'explain-selection'
description: 'Explain code'
command: 'explain'
availability: ['chat', 'inline']
action: 'chat'
stopSequences: ['Explanation of changes:']
requiredContext:
  - selection
---

Explain what the following code does.

{% if prompt -%}
Follow these additional instructions: "{{ prompt }}"
{% endif %}

```
{{ selectedCode }}
```